<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="css\styles.css">
    <title>Profile</title>
  </head>
  <body>
  <div class="box">
    <h1><%=data.name%></h1>
    <p><%=data.bio%></p>
    <a href="<%=data2.github%>">Git Hub</a> <br>
    <a href="<%=data2.linkedIn%>">LinkedIn</a>    <br>
    <a href="<%=data2.instagram%>">Instagram</a><br>
    <a href="<%=data2.twitter%>">Twitter</a><br>
    <a href="<%=data2.facebook%>">FaceBook</a><br>
    <a href="<%=data2.hack%>">Hacker Rank</a><br>
    <a href="<%=data2.leetcode%>">LeetCode</a><br>
    <a href="<%=data2.codechef%>">Code Chef</a><br>
    <a href="<%=data2.profolio%>">Profolio</a><br>
    <p><p><%=data2.email%></p></p>
  </div>
  </body>
</html>
